*, *:before, *:after {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p {
  line-height: 1.25;
}

h1, h2 {
  margin: 0;
  color: rgba(192, 186,	182, 1);
}

h1 {
  font-size: 24pt;
}

h2 {
  font-size: 10pt;
}

h3 {
  font-size: 30pt;
  margin-bottom: 3%;
}

h4 {
  text-transform: uppercase;
  margin-bottom: 2%;
  font-weight: bold;
}

em {
  font-style: italic;
}

header {
  height: 100px;
  width: 100%;
  position: relative;
  padding-right: 8%;
  padding-left: 8%;
  padding-top: 2%;
  background: rgba(51,	51,	51, 1);
}

header div {
  width: 50%;
  float: left;
  margin: 0;

}

.navbar li {
  list-style: none;
  width: 10%;
  float: left;
  height: 50px;
  background: rgba(34, 34,	34, 1);
  padding: 20px;
}

.navbar a {
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 10pt;
  color: rgba(192, 186,	182, 1);
  text-transform: uppercase;
}

.main-section {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 7%;
  padding-left: 7%;
}

section a {
  float: right;
  margin: 10px;
  text-decoration: none;
  color: rgba(255,	156,	0, 1);
}

.top-article, .top-aside {
  height: 300px;
  float: left;
  margin-bottom: 40px;
  margin-top: 10px;
  color: rgba(150,	150,	150,	1);
}

.top-article {
  width: 300px;
  padding: 2%;
  background: rgba(219,	219,	219, 1);
}

.top-aside {
  width: 630px;
  margin-left: 10px;
  padding: 0;
  background: rgba(204,	204,	204, 1);
}

.bottom-aside {
  width: 90px;
  height: 90px;
  background: #fff;
  float: left;
  margin: 5px;
  margin-bottom: 15px;
  border: 1px solid black;
  padding: 4px;
}


.bottom-article {
  width: 300px;
  height: 300px;
  float: left;
  margin-right: 15px;
  color: rgba(150,	150,	150, 1);
}

footer {
  float: left;
  width: 100%;
  height: 50px;
  margin: 0;
  padding-top: 1.5%;
  padding-left: 8%;
  background: rgba(51,	51,	51, 1);
  color: rgba(192, 186,	182, 1);
}
